{% extends "_layout" %}

{% block content %}   
  <section class="kleding-section">
  {% set entries = craft.entries().section('kleding').limit(5) %}

  {% for entry in entries %}
    <ul>
      <li>
                    <p>{{ entry.kledingNaam }}</p>
                    <p>{{ entry.image }}</p>
                    <p>{{ entry.maat }}</p>
                    <p>{{ entry.prijs}}</p>
                </li>
    </ul>
  {% endfor %}
  
{% endblock %}